<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 具体配置项可阅读官方文档了解 -->
<configuration>
  <settings>
    <!-- 使用 jdbc 自动生成主键 -->
    <setting name="useGeneratedKeys" value="true"/>
    <!-- 开启自动驼峰命名规则 -->
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
  
  <typeAliases>
    <!-- 通过扫描注解 @Alias() 配置别名 -->
    <package name="myssm.po" />
  </typeAliases>

  <mappers>
    <!-- 扫描包名配置映射器 -->
    <package name="myssm.mapping" />
  </mappers>
</configuration>